<a href="javascript:(function(){window.open('http://127.0.0.1:8000/popup/?url='+encodeURIComponent(document.URL),'TimeTableTimer','status=no,directories=no,location=no,resizable=no,menubar=no,width=450,height=350,toolbar=no')})()">link</a><br>
{% autoescape on %}
Search :
<form action="../tag/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
{% for b in bookmarks %}
<a href="{{ b.url.url }}" target="_blank">{{ b.url.url }}</a><br>
{{ b.title.title }}<br>
{% if not b.description.description == "" %}
{{ b.description.description }}<br>
{% endif %}
{% for t in b.tag.all %}
<a href="../../tag/{{ t.tag }}">{{ t.tag }}</a>
{% endfor %}<br><br>
{% endfor %}

{% for t in tags %}
<a href="../../tag/{{ t }}">{{ t }}</a><br>
{% endfor %}
{% endautoescape %}